<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Administrative_Scheduler.Properties.Settings.administrativeServerConnectionString"
            connectionString="Data Source=administrativescheduler.database.windows.net;Initial Catalog=administrativeServer;User ID=todd6822;Password=Ou812sir!"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>